@model IEnumerable<QHSEv1.Models.mgmt_rev_agenda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date_of_entry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.meeting_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.objective)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.meeting_called_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_of_meeting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.topics_of_discussion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desc_if_other)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.attendance_req_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spec_meeting_top)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.add_com_ins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.attachment_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.attachment_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.attachment_3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date_of_entry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.meeting_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.objective)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.meeting_called_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_of_meeting)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.project_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.topics_of_discussion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desc_if_other)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.attendance_req_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spec_meeting_top)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.add_com_ins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.attachment_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.attachment_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.attachment_3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
