@model IEnumerable<QHSEv1.Models.company_information>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date_of_entry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.legal_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alternate_phone_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emergency_contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emergency_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.street_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state_province)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postal_code)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date_of_entry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.legal_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.alternate_phone_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emergency_contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emergency_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.street_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state_province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postal_code)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
