@model IEnumerable<QHSEv1.Models.tool_box_topic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date_of_entry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.topic_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_dept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question_concern)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.developer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.supervisor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.attach_tool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.other_attachment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date_of_entry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.topic_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.project_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_dept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.topic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question_concern)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.developer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.supervisor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.attach_tool)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.other_attachment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
